<section>
  <h2 class="h2-mp mb-5">Medios de pago</h2>

  <div class="content">
    <div class="img-content">
      <img src="assets/build/img/mercado-pago.svg" />
    </div>
    <div class="p-content ms-4">
      <h3 class="fs-5">Paga con Mercado Pago</h3>
      <p>
        Pagar con Mercado Pago es elegir cualquiera de estos medios. Es rápido,
        seguro y no tiene costo adicional.
      </p>
    </div>
  </div>

  <div class="content">
    <div class="img-content">
      <img src="assets/build/img/credit-card.svg" />
    </div>
    <div class="p-content ms-4">
      <h3 class="fs-5">Tarjetas de crédito</h3>
      <p>En hasta 48 cuotas en todo el sitio.</p>
    </div>
  </div>

  <div class="content">
    <div class="img-content">
      <img src="assets/build/img/transfer.svg" />
    </div>
    <div class="p-content ms-4">
      <h3 class="fs-5">Transferencia desde tu banco</h3>
      <p>Termina tu compra y haz un traspaso online sin moverte de tu casa.</p>
    </div>
  </div>

  <div class="content">
    <div class="img-content">
      <img src="assets/build/img/efectivo.svg" />
    </div>
    <div class="p-content ms-4">
      <h3 class="fs-5">Efectivo en puntos de pago</h3>
      <p>
        Es muy simple: cuando termines tu compra, te daremos las instrucciones
        para que sepas cómo y dónde pagarla.
      </p>
    </div>
  </div>

  <div class="content ultimo">
    <div class="img-content">
      <img src="assets/build/img/celular.svg" />
    </div>
    <div class="p-content ms-4">
      <h3 class="fs-5">Dinero disponible en tu cuenta de Mercado Pago</h3>
    </div>
  </div>
</section>
