<footer class="bg-white p-5">
  <div class="d-flex flex-row bd-highlight ms-5">
    <div class="p-2 bd-highlight">Trabaja con nosotros</div>
    <div class="p-2 bd-highlight">Términos y condiciones</div>
    <div class="p-2 bd-highlight">Cómo cuidamos tu privacidad</div>
    <div class="p-2 bd-highlight">Ayuda / PQR</div>
    <div class="p-2 bd-highlight">www.sic.gov.co</div>
  </div>

  <div class="d-flex flex-row bd-highlight mb-5 ms-5 footer-copyright">
    <span class="copyright-p"
      >Copyright © 1999-2021 MercadoLibre Colombia LTDA.</span
    >
  </div>

  <div class="d-flex flex-row bd-highlight mb-3 ms-5 footer-copyright">
    <img src="assets/build/img/industria.png" class="me-4 ms-2" />
    <img src="assets/build/img/precioxunidad.png" alt="" />
  </div>
</footer>
