<div>
  <h4 class="h2-historial mb-5">Tu historial</h4>

  <span class="fecha">Septiembre</span>
  <div class="card-group m-auto mt-3 mb-4">
    <div class="card">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
          <span class="card-text d-flex send">Envio gratis</span>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
          <span class="card-text d-flex send">Envio gratis</span>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
          <span class="card-text d-flex send">Envio gratis</span>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
        </div>
      </a>
    </div>
  </div>

  <span class="fecha">Agosto</span>
  <div class="card-group m-auto mt-3 mb-4">
    <div class="card">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
          <span class="card-text d-flex send">Envio gratis</span>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
          <span class="card-text d-flex send">Envio gratis</span>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
          <span class="card-text d-flex send">Envio gratis</span>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
        </div>
      </a>
    </div>
  </div>

  <span class="fecha">Julio</span>
  <div class="card-group m-auto mt-3 mb-4">
    <div class="card">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
          <span class="card-text d-flex send">Envio gratis</span>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
          <span class="card-text d-flex send">Envio gratis</span>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
        </div>
      </a>
    </div>

    <div class="card ms-3">
      <a href="" class="text-decoration-none">
        <img
          src="https://picsum.photos/224/224"
          class="card-img-top w-100 p-3"
        />
        <div class="card-body">
          <p class="card-text">
            <small class="text-muted fs-4">$75.000</small>
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
