<section>
  <h4 class="h2-historial mb-5">Compras</h4>
  <p class="h2-historial text-secondary fw-bold">5 compras</p>

  <div class="card mx-auto mb-3" style="max-width: 100%">
    <p class="fw-bold ms-4 mt-3 text-secondary">25 de septiembre</p>
    <div class="row g-0">
      <hr />
      <div class="col-md-4">
        <img
          src="assets/build/img/foto.jpg"
          class="
            img-fluid
            rounded-start
            img-height
            p-1
            border border-secondary
            ms-4
          "
        />
        <div class="card-body d-inline-flex flex-column pt-0">
          <span class="color-succes fw-bold">Entregado</span>
          <p class="text-dark fw-bold">Llegó el 29 de septiembre</p>
          <p class="text-secondary">1 unidad</p>
        </div>
      </div>

      <div class="col-md-5 text-center">
        <p class="text-center text-secondary mg-bottom">Temakla MCO Meli</p>
        <a href="" class="text-decoration-none">Enviar mensaje</a>
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary d-block mb-2 w-50 ms-5">
          Ver compra
        </button>
        <button class="btn btn-backtobuy text-primary w-50 ms-5">
          Volver a comprar
        </button>
      </div>
    </div>
  </div>

  <div class="card mx-auto mb-3" style="max-width: 100%">
    <p class="fw-bold ms-4 mt-3 text-secondary">25 de septiembre</p>
    <div class="row g-0">
      <hr />
      <div class="col-md-4">
        <img
          src="assets/build/img/foto.jpg"
          class="
            img-fluid
            rounded-start
            img-height
            p-1
            border border-secondary
            ms-4
          "
        />
        <div class="card-body d-inline-flex flex-column pt-0">
          <span class="color-succes fw-bold">Entregado</span>
          <p class="text-dark fw-bold">Llegó el 29 de septiembre</p>
          <p class="text-secondary">1 unidad</p>
        </div>
      </div>

      <div class="col-md-5 text-center">
        <p class="text-center text-secondary mg-bottom">Temakla MCO Meli</p>
        <a href="" class="text-decoration-none">Enviar mensaje</a>
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary d-block mb-2 w-50 ms-5">
          Ver compra
        </button>
        <button class="btn btn-backtobuy text-primary w-50 ms-5">
          Volver a comprar
        </button>
      </div>
    </div>
  </div>

  <div class="card mx-auto mb-3" style="max-width: 100%">
    <p class="fw-bold ms-4 mt-3 text-secondary">25 de septiembre</p>
    <div class="row g-0">
      <hr />
      <div class="col-md-4">
        <img
          src="assets/build/img/foto.jpg"
          class="
            img-fluid
            rounded-start
            img-height
            p-1
            border border-secondary
            ms-4
          "
        />
        <div class="card-body d-inline-flex flex-column pt-0">
          <span class="color-succes fw-bold">Entregado</span>
          <p class="text-dark fw-bold">Llegó el 29 de septiembre</p>
          <p class="text-secondary">1 unidad</p>
        </div>
      </div>

      <div class="col-md-5 text-center">
        <p class="text-center text-secondary mg-bottom">Temakla MCO Meli</p>
        <a href="" class="text-decoration-none">Enviar mensaje</a>
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary d-block mb-2 w-50 ms-5">
          Ver compra
        </button>
        <button class="btn btn-backtobuy text-primary w-50 ms-5">
          Volver a comprar
        </button>
      </div>
    </div>
  </div>

  <div class="card mx-auto mb-3" style="max-width: 100%">
    <p class="fw-bold ms-4 mt-3 text-secondary">25 de septiembre</p>
    <div class="row g-0">
      <hr />
      <div class="col-md-4">
        <img
          src="assets/build/img/foto.jpg"
          class="
            img-fluid
            rounded-start
            img-height
            p-1
            border border-secondary
            ms-4
          "
        />
        <div class="card-body d-inline-flex flex-column pt-0">
          <span class="color-succes fw-bold">Entregado</span>
          <p class="text-dark fw-bold">Llegó el 29 de septiembre</p>
          <p class="text-secondary">1 unidad</p>
        </div>
      </div>

      <div class="col-md-5 text-center">
        <p class="text-center text-secondary mg-bottom">Temakla MCO Meli</p>
        <a href="" class="text-decoration-none">Enviar mensaje</a>
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary d-block mb-2 w-50 ms-5">
          Ver compra
        </button>
        <button class="btn btn-backtobuy text-primary w-50 ms-5">
          Volver a comprar
        </button>
      </div>
    </div>
  </div>

  <div class="card mx-auto mb-3" style="max-width: 100%">
    <p class="fw-bold ms-4 mt-3 text-secondary">25 de septiembre</p>
    <div class="row g-0">
      <hr />
      <div class="col-md-4">
        <img
          src="assets/build/img/foto.jpg"
          class="
            img-fluid
            rounded-start
            img-height
            p-1
            border border-secondary
            ms-4
          "
        />
        <div class="card-body d-inline-flex flex-column pt-0">
          <span class="color-succes fw-bold">Entregado</span>
          <p class="text-dark fw-bold">Llegó el 29 de septiembre</p>
          <p class="text-secondary">1 unidad</p>
        </div>
      </div>

      <div class="col-md-5 text-center">
        <p class="text-center text-secondary mg-bottom">Temakla MCO Meli</p>
        <a href="" class="text-decoration-none">Enviar mensaje</a>
      </div>

      <div class="col-md-3">
        <button class="btn btn-primary d-block mb-2 w-50 ms-5">
          Ver compra
        </button>
        <button class="btn btn-backtobuy text-primary w-50 ms-5">
          Volver a comprar
        </button>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example d-flex">
    <ul class="pagination justify-content-center">
      <li class="page-item"><a class="page-link" href="#">Anterior</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
    </ul>
  </nav>
</section>
